.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;  /* Light grey background */
    color: #333;  /* Dark grey text */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    border: 1px solid #ccc;  /* Light grey border */
}

 /* Center the login form */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  box-shadow: 0 0 10px rgba(128,128,128, 0.5);
  text-align: center;
}

/* Style the form fields */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.form-group input {
  width: calc(100% - 120px); /* Adjust width to fit input */
  padding: 10px;
  border: 1px solid rgba(128,128,128, 0.9);
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(128,128,128, 0.5);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}